
<input type="hidden" name="{field_name}" size="{field_cols}" maxlength="{field_max}" value="">
<div class='searchbox' id="searchbox_{form_name}_{field_name}" tabindex='-1'
  onclick='openSearchbox("{form_name}","{field_name}","{search_mode}","{search_type}","{search_multi}")'>-none-</div>
&nbsp;<input type='button' name="{field_name}_button" value=' ... ' id="searchbox_{form_name}_{field_name}_button"
  onClick='openSearchbox("{form_name}","{field_name}","{search_mode}","{search_type}","{search_multi}")'>
{search_text}
