
<form name='{name}' method='{method}' action='{action}' class='simpleForm'>
<table width='500'>
{if:title:%"simpleForm/title.template"%}
{if:description:%"simpleForm/description.template"%}
{list:fields:%"simpleForm/row.template"%}
<tr>
 <td colspan='2'><input type='submit' class='submit' value='{submit="Submit"}'></td>
</tr>
</table>
</form>