<html>
<head>
 <title>{title}</title>
</head>

<frameset cols='25%,*'>
  <frame name='nav' src='nav.html' frameborder='1'>
  <frame name='content' src='menu.html' frameborder='1'>
</frameset>

<noframes>
<h2>Frame Alert</h2>
<p>This document is designed to be viewed using the frames feature.
If you see this message, you are using a non-frame-capable web client.</p>
</noframes>

</html>