
TD {
	font-family: Arial, Helvetica, Sans;
	font-size: 12px
}	

TD.titleCell {
	background-color: #006666;
	font-weight: Bold;
	text-align: Center;
	color: #FFFFFF 
}

TD.subTitle {
	background-color: #AACCCC;
	font-weight: Bold;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #FFFFFF;
}

TD.nameCell { }

TD.valueCell { }

TD.lineCell { }

TD.commentCell { 
	font-style: italic 
	font-family: Times, Times New Roman;	
}