
---------------------------
This email was produced by the {zen:bot_name}, on behalf of the {zen:system_name}.

For a complete list of actions available, reply to this ticket with the text "#{id}: options" in the subject.

For help using the {zen:system_name}, email gateway system, reply to this email simply with the word "help" in the subject.

To be removed from further notifications concerning this ticket, simply reply to this email, with the text "#{id}: remove" in the subject.
--------------------------