
To move ticket, select reply, and fill out the form below.  If the ticket id doesn't appear in the subject, simply insert #nnnn: into the subject, before the action, where nnnn is the ticket's id.

@Bin:
(*place an x in the appropriate box*)
{foreach:bins:"[] "+value+"\n"}

@Details:
(*optional: enter reason for move here*)




@end details